@import "./navbar.scss";

@import url('https://fonts.googleapis.com/css2?family=Atma:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url("../images/background.png");
    background-size: 100%;
}

h1 {
    font-family: 'Atma', cursive;
}

p {
    font-family:'Roboto', sans-serif;
}