img.lr__banner {
    padding: 1em;
}

img.lr__logo {
    padding: 0em 1em 0em 1em;
}

form#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, optgroup, textarea {
    border-radius: 10px;
    border: 3px solid $blue;
    padding: 0.5em 1em 0.5em 1em;
    background-color: $cream;
}

button.login__button {
    border-radius: 10px;
    background-color: $blue;
    padding: 5px 68px 5px 68px;
    font-size: 25px;
    margin: 20px 0px 10px 0px;
    border: none;
}

button.buttonSubmitRegister {
    border-radius: 10px;
    background-color: $blue;
    padding: 5px 12px 5px 12px;
    font-size: 25px;
    margin: 20px 0px 10px 0px;
    border: none;
}

.name__input {
    padding-right: 10em;
}

.email__input {
    padding-right: 10em;
}

.register__redirect{
    padding-right: 4em;
}

.signIn__redirect {
    padding-right: 2em;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}